.searchVideos {
  padding: 20px;
  flex: 0.8;
}

.searchVideos__filter {
  display: flex;
  align-items: center;
  color: #606060;
  font-size: xx-small !important;
  text-transform: uppercase;
}

.searchVideos__filter > h2 {
  margin-left: 10px;
}

.searchVideos > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin: 10px 0;
}
